#   <span style="color:#5F9EA0">Progetto Python Alessandro Pontini Matricola: 852793</span>

***

In [1]:
# importo librerie
import pandas as pd
import datetime
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
# scrivo directory
dire = '/Users/alessandropontini/Documents/db/progetto_python/additional-kiva-snapshot/loans_lenders.csv'
dire1 = '/Users/alessandropontini/Documents/db/progetto_python/additional-kiva-snapshot/loans.csv'
dire2 = '/Users/alessandropontini/Documents/db/progetto_python/additional-kiva-snapshot/lenders.csv'
dire3 = '/Users/alessandropontini/Documents/db/progetto_python/additional-kiva-snapshot/country_stats.csv'

In [3]:
# df temporanei

temp_df3 = pd.DataFrame()
temp_df4 = pd.DataFrame()
temp_df_NA_lenders = pd.DataFrame()
total_lenders_amount = pd.DataFrame()

***

##  <span style="color:red">1) Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender.</span>

***

In [4]:
# leggo il file csv
df_lenders_not_normalized = pd.read_csv(dire)

In [5]:
df_lenders_not_normalized.head()

   loan_id                                            lenders
0   483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1   483738  muc888, nora3555, williammanashi, barbara5610,...
2   485000  muc888, terrystl, richardandsusan8352, sherri4...
3   486087  muc888, james5068, rudi5955, daniel9859, don92...
4   534428  muc888, niki3008, teresa9174, mike4896, david7...

In [6]:
# impongo index=loan_id per poter usare explode che per ogni loan_id mi prende ogni elemento della lista creata con la strip 
# e mi crea un nuove righe in un nuovo data set
df_lenders_normalized = df_lenders_not_normalized.set_index('loan_id')['lenders'].str.split(pat=',').explode().reset_index()

In [7]:
# mostro risultato
df_lenders_normalized.head()

   loan_id       lenders
0   483693        muc888
1   483693       sam4326
2   483693   camaran3922
3   483693   lachheb1865
4   483693   rebecca3499

***

##  <span style="color:red">2) For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing.</span>

***

In [8]:
# leggo il file loans, ma per la quantità di dati che devo leggere
# preferisco leggere le date come tali e non come stringhe.
df_loans = pd.read_csv(dire1, parse_dates=['disburse_time', 'planned_expiration_time'])

In [9]:
# ci sono delle date che non hanno disburse_time > planned_expiration_time, non ha senso un prestito che si estingue
# prima della data di sborso, perciò controllo se ce ne sono e in effetti si ci sono.
# creo un df che li contiene df_temp
temp_df = df_loans.loc[df_loans['disburse_time'] > df_loans['planned_expiration_time']]

In [10]:
temp_df[['disburse_time', 'planned_expiration_time']]

                    disburse_time   planned_expiration_time
63      2016-11-30 08:00:00+00:00 2016-10-31 05:40:03+00:00
96      2015-12-07 08:00:00+00:00 2015-11-12 14:30:11+00:00
177     2015-12-07 08:00:00+00:00 2015-11-13 05:00:03+00:00
207     2016-11-30 08:00:00+00:00 2016-10-28 14:30:08+00:00
217     2016-11-30 08:00:00+00:00 2016-10-31 01:40:03+00:00
...                           ...                       ...
1419303 2016-07-16 07:00:00+00:00 2016-06-12 04:30:03+00:00
1419304 2016-07-15 07:00:00+00:00 2016-06-14 00:50:04+00:00
1419374 2016-07-15 07:00:00+00:00 2016-06-12 04:40:03+00:00
1419443 2016-07-15 07:00:00+00:00 2016-06-15 13:00:03+00:00
1419581 2016-02-01 08:00:00+00:00 2016-01-03 00:50:04+00:00

[14935 rows x 2 columns]

In [11]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy vedere soluzione qua
temp_df[['disburse_time', 'planned_expiration_time']] = temp_df[['planned_expiration_time','disburse_time']]

In [12]:
# uso funzione isin per vedere i loan_id che coincidano e cambio df_loan con i nuovi di df_temp corretti
df_loans.loc[df_loans.loan_id.isin(temp_df.loan_id), ['disburse_time', 'planned_expiration_time']] = temp_df[['disburse_time','planned_expiration_time']]

In [13]:
# sono stati invertiti
df_loans.loc[df_loans['disburse_time'] > df_loans['planned_expiration_time']]

Empty DataFrame
Columns: [loan_id, loan_name, original_language, description, description_translated, funded_amount, loan_amount, status, activity_name, sector_name, loan_use, country_code, country_name, town_name, currency_policy, currency_exchange_coverage_rate, currency, partner_id, posted_time, planned_expiration_time, disburse_time, raised_time, lender_term, num_lenders_total, num_journal_entries, num_bulk_entries, tags, borrower_genders, borrower_pictured, repayment_interval, distribution_model]
Index: []

[0 rows x 31 columns]

In [14]:
# creo una colonna per la duration e faccio differenza, dopo di che mostro il risultato
df_loans['duration'] = df_loans['planned_expiration_time'] - df_loans['disburse_time']
df_loans[['loan_id','duration']]

         loan_id         duration
0         657307 53 days 19:30:06
1         657259 96 days 14:25:07
2         658010 37 days 13:10:05
3         659347 34 days 19:10:02
4         656933 57 days 22:10:02
...          ...              ...
1419602   988180 39 days 17:00:03
1419603   988213 39 days 08:40:07
1419604   989109 51 days 14:20:04
1419605   989143 63 days 00:50:02
1419606   989240 61 days 12:50:06

[1419607 rows x 2 columns]

***

## <span style="color:red">3) Find the lenders that have funded at least twice.</span>

***

In [15]:
temp_df = df_loans[['loan_id', 'status', 'loan_amount']]

In [16]:
# trovo i df che mi servono
temp_df2 = df_lenders_not_normalized.merge(temp_df, how='left', left_on='loan_id', right_on='loan_id')
temp_df = df_lenders_normalized.merge(temp_df, how='left', left_on='loan_id', right_on='loan_id')

# trovo total lent che userò successivamente
total_lent = temp_df2.loan_amount.sum()

In [17]:
# creo pivot_table temporanea in cui salvo tutti i loan_name con il value_counts che mi conta quante volte è presente
# e poi chiedo alla lista solo quelli >1
temp_table = temp_df.loc[temp_df.status == 'funded']
temp_table = temp_table.pivot_table(index=['lenders'], aggfunc='size').sort_values(ascending=False)

In [18]:
temp_table[temp_table>1]

lenders
 gooddogg1           142349
 trolltech4460       139191
 gmct                122156
 nms                  93283
 themissionbeltco     70151
                      ...
 sebastien5634            2
 chaoyi5871               2
jacqui4717                2
 naromie9799              2
 liu9607                  2
Length: 993782, dtype: int64

***

## <span style="color:red">4) For each country, compute how many loans have involved that country as borrowers.</span>

***

In [19]:
# suppongo che in loans che country_code identifichi le nazionalità delle persone perciò con una groupby posso raggrupparle
# e con una size so il numero presente per ogni nazione
df_loans.groupby('country_code').size()

country_code
AF     2337
AL     3075
AM    13952
AZ    10172
BA      608
      ...
XK     2178
YE     4206
ZA      633
ZM     1277
ZW     5513
Length: 95, dtype: int64

***

## <span style="color:red"> 5) For each country, compute the overall amount of money borrowed.</span>

***

In [20]:
# raggruppo in base allo stato di appartenenza scegliendo di mostrare la colonna loan_amount e sommo i risultati.
df_loans.groupby('country_code')['loan_amount'].sum()

country_code
AF     1967950.0
AL     4307350.0
AM    22950475.0
AZ    14784625.0
BA      477250.0
         ...
XK     3083025.0
YE     3444000.0
ZA     1006525.0
ZM     1978975.0
ZW     5851875.0
Name: loan_amount, Length: 95, dtype: float64

***

## <span style="color:red">6) Like the previous point, but expressed as a percentage of the overall amount lent.</span>

***

In [21]:
df_loans.groupby('country_code')['loan_amount'].sum()/total_lent*100

country_code
AF    0.169150
AL    0.370227
AM    1.972649
AZ    1.270774
BA    0.041021
        ...
XK    0.264993
YE    0.296020
ZA    0.086513
ZM    0.170098
ZW    0.502983
Name: loan_amount, Length: 95, dtype: float64

***

## <span style="color:red">7) Like the three previous points, but split for each year (with respect to disburse time).</span>

***

In [22]:
temp_df = df_loans[['disburse_time', 'country_code', 'loan_amount']]
temp_df.disburse_time = temp_df['disburse_time'].dt.tz_localize(None)
temp_df.disburse_time = temp_df.disburse_time.dt.year

In [23]:
# vedo quante persone all'anno punto 4
temp_df.groupby(['country_code','disburse_time']).size()

country_code  disburse_time
AF            2007.0            408
              2008.0            370
              2009.0            678
              2010.0            632
              2011.0            247
                               ...
ZW            2013.0            426
              2014.0           2078
              2015.0            600
              2016.0            808
              2017.0           1079
Length: 740, dtype: int64

In [24]:
# faccio le somme punto 5
temp_df.groupby(['country_code','disburse_time'])['loan_amount'].sum()

country_code  disburse_time
AF            2007.0            194975.0
              2008.0            365375.0
              2009.0            585125.0
              2010.0            563350.0
              2011.0            245125.0
                                 ...
ZW            2013.0            678525.0
              2014.0           1311575.0
              2015.0            723625.0
              2016.0            788600.0
              2017.0           1237600.0
Name: loan_amount, Length: 740, dtype: float64

In [25]:
temp_df.groupby(['country_code', 'disburse_time'])['loan_amount'].sum()/total_lent*100

country_code  disburse_time
AF            2007.0           0.016759
              2008.0           0.031405
              2009.0           0.050293
              2010.0           0.048421
              2011.0           0.021069
                                 ...
ZW            2013.0           0.058321
              2014.0           0.112733
              2015.0           0.062197
              2016.0           0.067782
              2017.0           0.106375
Name: loan_amount, Length: 740, dtype: float64

***

## <span style="color:red">8) For each lender, compute the overall amount of money lent.</span>

***

In [26]:
# uso un df temporaneo per immagazzinare la join tra df_lenders_normalized e df_loans con solo i campi loan_id
# e loan_amount che usero per i conti successivamente
temp_df = df_lenders_normalized.merge(df_loans[['loan_id', 'loan_amount']], how='left', on='loan_id')

In [27]:
# salvo in un df temp 2 il raggruppamento secondo count, per contare il numero totale di ogni loan id
temp_df2 = temp_df.groupby('loan_id')['lenders'].count()

In [28]:
temp_df2 = temp_df2.reset_index().rename(columns={"lenders": "tot_num_lender"})

In [29]:
# faccio ultima merge per avere nel mio data set accanto alla colonna di loan id la colonna dei lenders_y
# che corrisponde al mio count
temp_df = temp_df.merge(temp_df2, how='left', on='loan_id')

In [30]:
temp_df

          loan_id             lenders  loan_amount  tot_num_lender
0          483693              muc888       1225.0              40
1          483693             sam4326       1225.0              40
2          483693         camaran3922       1225.0              40
3          483693         lachheb1865       1225.0              40
4          483693         rebecca3499       1225.0              40
...           ...                 ...          ...             ...
28293926  1206425   trogdorfamily7622        325.0               8
28293927  1206425           danny6470        325.0               8
28293928  1206425             don6118        325.0               8
28293929  1206486            alan5175        150.0               2
28293930  1206486         amy38101311        150.0               2

[28293931 rows x 4 columns]

In [31]:
# creo nuova colonna per segnare le singole quote per ogni loan_id
temp_df['single_amount']= temp_df['loan_amount']/temp_df['tot_num_lender']

In [32]:
# ora raggruppo per ogni lender
temp_df.groupby('lenders')['single_amount'].sum()

lenders
 000               1672.618411
 00000             1380.693644
 0002              2472.563566
 00mike00            52.631579
 0101craign0101    2623.565117
                      ...
zzanita              87.500000
zzcyna7269           55.357143
zzinnia              38.000000
zzmcfate           2287.291955
zzrvmf8538          106.417625
Name: single_amount, Length: 1639026, dtype: float64

***

## <span style='color:red'> 9) For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.</span>

***

## Problema di fondo che abbiamo trovato che il data set estremamente scarno con molti NULL, perciò dovevamo distribuire i soldi borrowed amolti valori NULL. Personalmento ho optato per la distribuzione del totale loan_amount dei null secondo percentuali di nazionalità

***

In [33]:
# inizio aggiungendo ai miei dataset anche le informazioni dei lenders_info
df_lenders_info = pd.read_csv(dire2)

In [34]:
# merge in una temporanea di df_lenders con la normalizzata 
# per avere loan_id
temp_df = df_lenders_info[['permanent_name', 'country_code']].merge(df_lenders_normalized, how='left', left_on='permanent_name', right_on='lenders')

In [35]:
# temp_df2 contiene tutte le righe in cui lenders è presente in loan e non ha lenders == null
temp_df2 = temp_df.dropna(subset=['lenders'])

In [36]:
# contiene tutti i borrowed
temp_df3 = temp_df.loc[temp_df.lenders.isna()]

In [37]:
# analizzando il temp df 3 mi accorgo che ho qualche country code ma non ho nessun loan amount
# per tanto decido di non eseguire altri compiti
temp_df3

         permanent_name country_code  loan_id lenders
0              qian3013          NaN      NaN     NaN
1             reena6733          NaN      NaN     NaN
2               mai5982          NaN      NaN     NaN
3        andrew86079135          NaN      NaN     NaN
4            nguyen6962          NaN      NaN     NaN
...                 ...          ...      ...     ...
3449032       janet7309          NaN      NaN     NaN
3449033          pj4198          NaN      NaN     NaN
3449034       maria2141           US      NaN     NaN
3449035      simone9846          NaN      NaN     NaN
3449036      laurie1160           US      NaN     NaN

[2061605 rows x 4 columns]

In [38]:
temp_df2

         permanent_name country_code    loan_id         lenders
16           naresh2074           US  1059280.0      naresh2074
17           naresh2074           US  1055468.0      naresh2074
48          jinxian2217          NaN  1292306.0     jinxian2217
49         sreedevi9583          NaN  1052062.0    sreedevi9583
52       nicole98153893          NaN  1137907.0  nicole98153893
...                 ...          ...        ...             ...
3449014      bonnie9739           US   810311.0      bonnie9739
3449015      bonnie9739           US   846429.0      bonnie9739
3449016      bonnie9739           US   809520.0      bonnie9739
3449018        cody7091           US   441719.0        cody7091
3449021           rakhi           US   742334.0           rakhi

[1387432 rows x 4 columns]

In [39]:
# aggiungiamo anche la colonna loan_amount per avere un totale dei lenders/loan/country ( potrebbero esserci dei NULL)
temp_df2=temp_df2.merge(df_loans[['loan_id', 'loan_amount']],how='left',on='loan_id')

In [40]:
temp_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1387432 entries, 0 to 1387431
Data columns (total 5 columns):
permanent_name    1387432 non-null object
country_code      1097763 non-null object
loan_id           1387432 non-null float64
lenders           1387432 non-null object
loan_amount       1387428 non-null float64
dtypes: float64(2), object(3)
memory usage: 63.5+ MB

In [41]:
# metto i null a 0 di loan amount che sono 4
temp_df2['loan_amount'] = temp_df2['loan_amount'].fillna(0)

In [42]:
# inizio controllando quelli con country valore che esiste, perdo quasi 3000000 righe
df_lenders_loans_country = temp_df2.dropna(subset=['country_code'])

In [43]:
df_lenders_loans_country = df_lenders_loans_country.groupby('country_code')['loan_amount'].sum()

In [44]:
total_lent = df_lenders_loans_country.sum()

In [45]:
df_lenders_loans_country = df_lenders_loans_country.reset_index()

In [46]:
# cosi facendo ho percentuale del totale per ogni country che è il punto che mi serve
df_lenders_loans_country['percentage'] = round(df_lenders_loans_country['loan_amount']/total_lent,10)

In [47]:
df_lenders_loans_country

    country_code  loan_amount  percentage
0             AD       1200.0    0.000001
1             AE    1760225.0    0.001930
2             AF      68075.0    0.000075
3             AL      16650.0    0.000018
4             AM      23575.0    0.000026
..           ...          ...         ...
190           WF       2100.0    0.000002
191           XK       3750.0    0.000004
192           YE      15175.0    0.000017
193           ZA     509075.0    0.000558
194           ZM      11325.0    0.000012

[195 rows x 3 columns]

In [48]:
temp_df2 = temp_df2.loc[temp_df2.country_code.isna()]

In [49]:
temp_df2

         permanent_name country_code    loan_id         lenders  loan_amount
2           jinxian2217          NaN  1292306.0     jinxian2217       1400.0
3          sreedevi9583          NaN  1052062.0    sreedevi9583        650.0
4        nicole98153893          NaN  1137907.0  nicole98153893        200.0
6           haitang3172          NaN  1291625.0     haitang3172        300.0
7             jishi5401          NaN  1060071.0       jishi5401        400.0
...                 ...          ...        ...             ...          ...
1387388      tricia9236          NaN   699175.0      tricia9236       1450.0
1387396      marwan8219          NaN   735870.0      marwan8219        475.0
1387399        eric9768          NaN   898756.0        eric9768        225.0
1387405      nicole1492          NaN   485083.0      nicole1492        500.0
1387406       scott2350          NaN  1023557.0       scott2350        800.0

[289669 rows x 5 columns]

In [50]:
total_amount = temp_df2.loan_amount.sum()

In [51]:
total_amount

251447675.0

In [52]:
# li moltiplico per la percentuale dei country che conosco lenders e poi li sommo con i precedenti
x = total_amount * df_lenders_loans_country.percentage

df_lenders_loans_country['total_lenders_amount_with_no_country'] = x

In [53]:
df_lenders_loans_country['total_lent'] = df_lenders_loans_country.loan_amount + df_lenders_loans_country.total_lenders_amount_with_no_country

In [54]:
df_lenders_loans_country

,country_code,loan_amount,percentage,total_lenders_amount_with_no_country,total_lent
0,AD,1200.0,0.000001,330.854851,1.530855e+03
1,AE,1760225.0,0.001930,485319.006649,2.245544e+06
2,AF,68075.0,0.000075,18769.236266,8.684424e+04
3,AL,16650.0,0.000018,4590.629913,2.124063e+04
4,AM,23575.0,0.000026,6499.972688,3.007497e+04
...,...,...,...,...,...
190,WF,2100.0,0.000002,579.008561,2.679009e+03
191,XK,3750.0,0.000004,1033.927695,4.783928e+03
192,YE,15175.0,0.000017,4183.963588,1.935896e+04
193,ZA,509075.0,0.000558,140359.198555,6.494342e+05
194,ZM,11325.0,0.000012,3122.452083,1.444745e+04

In [55]:
# no duplicates
a = df_loans[df_loans.duplicated()]
print(a)

Empty DataFrame
Columns: [loan_id, loan_name, original_language, description, description_translated, funded_amount, loan_amount, status, activity_name, sector_name, loan_use, country_code, country_name, town_name, currency_policy, currency_exchange_coverage_rate, currency, partner_id, posted_time, planned_expiration_time, disburse_time, raised_time, lender_term, num_lenders_total, num_journal_entries, num_bulk_entries, tags, borrower_genders, borrower_pictured, repayment_interval, distribution_model, duration]
Index: []

[0 rows x 32 columns]

In [56]:
temp_df = df_loans.groupby('country_code')['loan_amount'].sum()

In [57]:
temp_df = temp_df.reset_index()

In [58]:
temp_df

   country_code  loan_amount
0            AF    1967950.0
1            AL    4307350.0
2            AM   22950475.0
3            AZ   14784625.0
4            BA     477250.0
..          ...          ...
90           XK    3083025.0
91           YE    3444000.0
92           ZA    1006525.0
93           ZM    1978975.0
94           ZW    5851875.0

[95 rows x 2 columns]

In [59]:
del df_lenders_loans_country['total_lenders_amount_with_no_country']

In [60]:
df_lenders_loans_country = df_lenders_loans_country.merge(temp_df,how='left', on='country_code')

In [61]:
df_lenders_loans_country

    country_code  loan_amount_x  percentage    total_lent  loan_amount_y
0             AD         1200.0    0.000001  1.530855e+03            NaN
1             AE      1760225.0    0.001930  2.245544e+06            NaN
2             AF        68075.0    0.000075  8.684424e+04      1967950.0
3             AL        16650.0    0.000018  2.124063e+04      4307350.0
4             AM        23575.0    0.000026  3.007497e+04     22950475.0
..           ...            ...         ...           ...            ...
190           WF         2100.0    0.000002  2.679009e+03            NaN
191           XK         3750.0    0.000004  4.783928e+03      3083025.0
192           YE        15175.0    0.000017  1.935896e+04      3444000.0
193           ZA       509075.0    0.000558  6.494342e+05      1006525.0
194           ZM        11325.0    0.000012  1.444745e+04      1978975.0

[195 rows x 5 columns]

In [62]:
df_lenders_loans_country.loan_amount_y = df_lenders_loans_country.loan_amount_y.fillna(0)

In [63]:
df_lenders_loans_country['lent_borrowed'] = df_lenders_loans_country.total_lent - df_lenders_loans_country.loan_amount_y

In [64]:
df_lenders_loans_country

,country_code,loan_amount_x,percentage,total_lent,loan_amount_y,lent_borrowed
0,AD,1200.0,0.000001,1.530855e+03,0.0,1.530855e+03
1,AE,1760225.0,0.001930,2.245544e+06,0.0,2.245544e+06
2,AF,68075.0,0.000075,8.684424e+04,1967950.0,-1.881106e+06
3,AL,16650.0,0.000018,2.124063e+04,4307350.0,-4.286109e+06
4,AM,23575.0,0.000026,3.007497e+04,22950475.0,-2.292040e+07
...,...,...,...,...,...,...
190,WF,2100.0,0.000002,2.679009e+03,0.0,2.679009e+03
191,XK,3750.0,0.000004,4.783928e+03,3083025.0,-3.078241e+06
192,YE,15175.0,0.000017,1.935896e+04,3444000.0,-3.424641e+06
193,ZA,509075.0,0.000558,6.494342e+05,1006525.0,-3.570908e+05
194,ZM,11325.0,0.000012,1.444745e+04,1978975.0,-1.964528e+06

***

## <span style='color:red'>10) Which country has the highest ratio between the difference computed at the previous point and the population?</span>

***

In [65]:
# importo data set che necessito
df_country_stat = pd.read_csv(dire3)

In [66]:
temp_df = df_country_stat.groupby('country_code')['population'].sum()

In [67]:
temp_df = temp_df.reset_index()

In [68]:
df_lenders_loans_country = df_lenders_loans_country.merge(temp_df,how='left', on='country_code')

In [69]:
# se ho popolazione nan metto il primo quartile
first_quantile = df_lenders_loans_country.population.quantile(0.25)
df_lenders_loans_country.population = df_lenders_loans_country.population.fillna(first_quantile)

In [70]:
df_lenders_loans_country

,country_code,loan_amount_x,percentage,total_lent,loan_amount_y,lent_borrowed,population
0,AD,1200.0,0.000001,1.530855e+03,0.0,1.530855e+03,4301080.25
1,AE,1760225.0,0.001930,2.245544e+06,0.0,2.245544e+06,9400145.00
2,AF,68075.0,0.000075,8.684424e+04,1967950.0,-1.881106e+06,35530081.00
3,AL,16650.0,0.000018,2.124063e+04,4307350.0,-4.286109e+06,2930187.00
4,AM,23575.0,0.000026,3.007497e+04,22950475.0,-2.292040e+07,2930450.00
...,...,...,...,...,...,...,...
190,WF,2100.0,0.000002,2.679009e+03,0.0,2.679009e+03,4301080.25
191,XK,3750.0,0.000004,4.783928e+03,3083025.0,-3.078241e+06,1895250.00
192,YE,15175.0,0.000017,1.935896e+04,3444000.0,-3.424641e+06,28250420.00
193,ZA,509075.0,0.000558,6.494342e+05,1006525.0,-3.570908e+05,56717156.00
194,ZM,11325.0,0.000012,1.444745e+04,1978975.0,-1.964528e+06,17094130.00

In [71]:
#calcolo percentuale su i lent-borrowed e la popolazione, successivamente trovo l'idmax per la percentuale che mi dice essere CANADA
df_lenders_loans_country['percentage'] = round(df_lenders_loans_country['lent_borrowed']/df_lenders_loans_country['population']*100, 2)
#temp_df3=temp_df3.reset_index()

In [72]:
max_ratio = df_lenders_loans_country.loc[df_lenders_loans_country['percentage'].idxmax()]
min_ratio = df_lenders_loans_country.loc[df_lenders_loans_country['percentage'].idxmin()]

In [73]:
print(max_ratio,'\n',min_ratio)

country_code              NO
loan_amount_x    1.31226e+07
percentage            315.54
total_lent       1.67407e+07
loan_amount_y              0
lent_borrowed    1.67407e+07
population       5.30538e+06
Name: 132, dtype: object
 country_code              PY
loan_amount_x          20750
percentage           -791.89
total_lent           26471.1
loan_amount_y    5.39647e+07
lent_borrowed   -5.39382e+07
population        6.8113e+06
Name: 145, dtype: object

***

## <span style='color:red'>11) Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?</span>

***

In [74]:
temp_df2 = df_country_stat.groupby('country_code')[['country_code','population','population_below_poverty_line']].head(175)

In [75]:
temp_df2['population_below_poverty_line'] = temp_df2['population_below_poverty_line']/100

In [76]:
temp_df2.country_code = temp_df2.country_code.fillna('NA')

In [77]:
temp_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 3 columns):
country_code                     174 non-null object
population                       174 non-null int64
population_below_poverty_line    152 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 5.4+ KB

In [78]:
mean = temp_df2.population_below_poverty_line.mean()
temp_df2.population_below_poverty_line = temp_df2.population_below_poverty_line.fillna(mean)

In [79]:
temp_df2['population_below_poverty_line'] = temp_df2['population'] - (temp_df2['population_below_poverty_line']*temp_df2['population'])

In [80]:
temp_df2 = temp_df2.merge(df_lenders_loans_country[['country_code', 'lent_borrowed']], left_on='country_code', right_on='country_code')

In [81]:
mean = temp_df2.lent_borrowed.mean()
temp_df2.lent_borrowed = temp_df2.lent_borrowed.fillna(mean)

In [82]:
temp_df2['percentage_poverty'] = round(temp_df2['lent_borrowed']/temp_df2['population_below_poverty_line']*100, 2)

In [83]:
max_ratio = temp_df2.loc[temp_df2['percentage_poverty'].idxmax()]
min_ratio = temp_df2.loc[temp_df2['percentage_poverty'].idxmin()]

In [84]:
print(max_ratio,'\n',min_ratio)

country_code                              NO
population                           5305383
population_below_poverty_line    3.79457e+06
lent_borrowed                    1.67407e+07
percentage_poverty                    441.18
Name: 146, dtype: object
 country_code                              AM
population                           2930450
population_below_poverty_line    1.99271e+06
lent_borrowed                   -2.29204e+07
percentage_poverty                  -1150.21
Name: 100, dtype: object

***

## <span style='color:red'>12) For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.</span>

***

### Decido di eliminare tutte le colonne con NaN, in particolar modo tutte le colonne che non presentano disburse_time oppure planned_expiration_time

***

In [85]:
temp_df = df_loans[['disburse_time', 'planned_expiration_time', 'loan_amount', 'duration']].dropna()

In [86]:
temp_df['disburse_time']= temp_df['disburse_time'].dt.tz_localize(None)
temp_df['planned_expiration_time']= temp_df['planned_expiration_time'].dt.tz_localize(None)

In [87]:
temp_df.describe()

        loan_amount                 duration
count  1.044962e+06                  1044962
mean   8.515181e+02  52 days 16:53:20.557515
std    1.161090e+03  28 days 11:52:30.228033
min    2.500000e+01          0 days 00:00:02
25%    2.750000e+02         42 days 15:10:04
50%    5.000000e+02         52 days 12:40:02
75%    1.000000e+03         61 days 19:50:02
max    1.000000e+05       1673 days 07:07:46

In [88]:
temp_df['differenza'] = (temp_df.planned_expiration_time.dt.year) - (temp_df.disburse_time.dt.year)

In [89]:
temp_df.groupby('differenza').size()

differenza
0    892805
1    151837
4       299
5        21
dtype: int64

In [90]:
# tengo solo i giorni
temp_df.duration = temp_df.duration.dt.days

In [91]:
# aggiungo colonna anno per comodità
temp_df['year_disburse_time'] = temp_df.disburse_time.dt.strftime("%Y")
temp_df['year_planned_expiration_time'] = temp_df.planned_expiration_time.dt.strftime("%Y")
temp_df.year_disburse_time = temp_df.year_disburse_time.astype('int')
temp_df.year_planned_expiration_time = temp_df.year_planned_expiration_time.astype('int')

In [92]:
lista_final = []
def func_final(df):
    # dichiaro la mia lista risultato finale
    ok = 'ok'
    global lista_final
    # se la differenza negli anni è zero allora calcolo direttamente e appendo
    if df.differenza == 0:
        money = round(( df.loan_amount * df.duration)/(31+365+30),2)
        years = df.year_disburse_time
        result = [money,years]
        lista_final.append(result)
    else:
        data_inf = datetime.datetime(df.year_disburse_time, 1, 1)
        flag = df.year_disburse_time
        # calcolo dal disburse time fino al planned expiration e quando ho gli anni che coincidono vado al secondo step
        while df.year_planned_expiration_time != flag:
            
            lim_sup = datetime.datetime(flag, 12, 31)
            day_sup = lim_sup - data_inf
            day_sup = day_sup.days
            money = round(( df.loan_amount * day_sup)/(31+365+30),2)
            years = flag
            result = [money,years]
            lista_final.append(result)
            flag = flag + 1
            data_inf = datetime.datetime(flag, 1, 1)
        
        # calcolo i restanti giorni
        lim_inf = datetime.datetime(df.year_planned_expiration_time, 1,1)
        day_inf = df.planned_expiration_time - lim_inf
        day_inf = day_inf.days
        money = round(( df.loan_amount * day_inf)/(31+365+30),2)
        years = df.year_planned_expiration_time
        result = [money,years]
        lista_final.append(result)
    
    return ok

def create_df_year(array):
    d1 = {'tot' : array}
    df2 = pd.DataFrame(d1)
    df3 = df2.tot.apply(pd.Series)
    df3.columns = ['total', 'year'] 
    return df3

In [93]:
temp_df.apply(lambda x : func_final(x), axis=1)

0          ok
1          ok
2          ok
3          ok
4          ok
           ..
1419602    ok
1419603    ok
1419604    ok
1419605    ok
1419606    ok
Length: 1044962, dtype: object

In [94]:
final_df = create_df_year(lista_final)

In [97]:
final_df.year = final_df.year.astype('int')
final_df.total = final_df.total.astype('int')
final_df.groupby('year').sum()

         total
year
2011   2277740
2012  25548040
2013  40183822
2014  41986783
2015  35381106
2016  36989131
2017  31102902
2018    534462

# TEMPO IMPIEGATO 12 PUNTI : 8.10 min 
# COMPUTER UTILIZZATO : MACBOOK PRO 19
# PROCESSORE : 1,4 GHz Intel Core i5 quad-core
# MEMORIA : 8 GB 2133 MHz LPDDR3
# SCHEDA GRAFICA : Intel Iris Plus Graphics 645 1536 MB